<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% extends "base.html" %}

{% block content %}

<h1>People</h1>

    <table>

        {% for person in object_list %}

        <tr>
            <td>  <a href="{{ person.get_absolute_url }}"> {{ person }} </a>    </td>
            <td> (<a href="{% url 'people-edit' pk=person.id %}">Edit</a>)      </td>
            <td> (<a href="{% url 'person-delete' pk=person.id %}">Delete</a>)  </td>
            <td> (<a href="/{{ person.id }}/add_project/">Add a Project</a>)    </td>
        </tr>

        {% endfor %}

        <tr>
            <td> <a href="{% url 'person-new' %}">Add person</a>                </td>
        </tr>
    </table>

{% endblock %}
</body>
</html>
