<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% extends "base.html" %}

{% block content %}

      {% if user.is_authenticated %}
            <h1>Welcome,  {{ user.username }} </h1>

    <table>
        <h1>People</h1>
        {% for person in object_list %}

        <tr>
            <td>  <a href="{{ person.get_absolute_url }}"> {{ person }} </a>    </td>
            <td> (<a href="{% url 'people-edit' pk=person.id %}">Edit</a>)      </td>
            <td> (<a href="{% url 'person-delete' pk=person.id %}">Delete</a>)  </td>
            <td> (<a href="/{{ person.id }}/add_project/">Add a Project</a>)    </td>
        </tr>

        {% endfor %}

        <tr>
            <td> <a href="{% url 'person-new' %}">Add person</a>                </td>
        </tr>
    </table>

        <br/><br/><br/>

             <a href="/logout/">Logout</a></li>
    {% else %}
             <br/><br/><br/>
             <a href="/register/">Register</a></li>
             <a href="/login/">Login</a></li>

    {% endif %}
        </ul>
{% endblock %}
</body>
</html>