<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


{% block title %}<h1>Login </h1> {% endblock %}

{% block body_block %}


    <form  id="login_form" method="post" action="/login/">
            <div class="container">
                <h2>Please sign in</h2>

                {% if bad_details %}
                <p><strong>Your username and/or password were incorrect!</strong></p>
                {% elif disabled_account %}
                <p><strong>Your account is currently disabled; we can't log you in!</strong></p>
                {% endif %}

                {% csrf_token %}
                <div class="form-group">

                    <label for="username">Username:&nbsp;</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" size="70">

                </div>&nbsp;

                <div class="form-group">

                    <label for="pwd">Password:&nbsp;&nbsp; </label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" size="70">


                </div>
                <br/>
                    <a href="{% url 'people-list' %}">Back to list</a>
                    <button class="btn btn-primary" type="submit">Sign in</button>

            </div>
    </form>


{% endblock %}
</body>
</html>