<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% extends "base.html" %}

{% block content %}

  <table class="table">
    <thead>
        <tr>
            <th colspan="3">{{ person }}</th>
        </tr>
    </thead>
    <tbody>
         <tr>
            <td >Email:</td> <td colspan="2"> {{ person.email }}</td>
         </tr>
         <tr>
            <td><a href="{% url 'person-new' %}">Add person</a></td>
            <td><a href="{% url 'person-delete' pk=person.id %}">Delete person</a></td>
            <td><a href="{% url 'people-list' %}">Back to list</a></td>
          </tr>
  </table>

{% endblock %}

</body>
</html>