<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


{% block title %}Register {% endblock %}

{% block body_block %}


    <br/>


        {% if registered %}
        <p> Thank you for registering.

        <p><a href="/login/">Login in</a> </p>
        {% else %}

        <form  id="user_form" method="post" action="/register/">
            {% csrf_token %}
            <h2 class="form-signin-heading">Sign up Here</h2>
                <table class="table">

                    <tbody>
                        <tr>
                            <td >Login:</td> <td><input type="text"       name="username"     value="" size="50"/> </td>
                        </tr>
                        <tr>
                            <td >Password:</td> <td> <input type="text"   name="password"     value="" size="50"/> </td>
                        </tr>
                        <tr>
                            <td >Email:</td> <td> <input type="text"      name="email"        value="" size="50"/> </td>
                        </tr>
                    </tbody>

                </table>

            <tr>

                <th><a href="{% url 'people-list' %}">Back to list</a></th>
                <th> <input class="btn btn-primary" type="submit" name="submit" value="Register"/></th>
            </tr>

        </form>

        {% endif %}


{% endblock %}
</body>
</html>